/* Header */
.header{
    background:url('https://images.unsplash.com/photo-1496307042754-b4aa456c4a2d') no-repeat center/cover;
    height:60vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.header h2{
    font-size:38px;
}