/* Header */
.header {
    background: url('https://images.unsplash.com/photo-1496307042754-b4aa456c4a2d') no-repeat center/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.header h2 {
    font-size: 38px;
}

/* Section */
.section {
    padding: 40px 20px;
    text-align: center;
}

.section img {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

/* Cards */
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* Responsive */
@media(max-width:768px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }

    .header h2 {
        font-size: 26px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:480px) {
    .header {
        height: 45vh;
    }

    .header h2 {
        font-size: 20px;
    }
}